<h1>New Reservation</h1>
<div class='row'>
  <div class='col-sm-6'>
    <dl class="dl-horizontal">
      <%= form_for @reservation, url: {action: 'create_reservation'}, method: :POST, html:{class: "form-group"} do |f| %>
        <dt>User</dt>
        <dd><%= f.select(:user_id, options_from_collection_for_select(User.all, 'id', 'name', @reservation.user_id), {}, {class: "form-control"}) %></dd>
        <dt>Car</dt>
        <dd><%= f.select(:car_id, options_from_collection_for_select(Car.all, 'id', 'number', @reservation.car_id), {}, class: "form-control") %></dd>
        <dt>Start date and time</dt>
        <dd><%= f.text_field :start_date, id: 'datetimepicker1', class: "form-control" %></dd>
        <dt>End date and time</dt>
        <dd><%= f.text_field :end_date, id: 'datetimepicker2', class: "form-control" %></dd>
        <% f.text_field :date, value: @current_date %> 
        <%= f.submit "Create", class: 'btn pull-right' %> 
      <% end %>
    </dl>
  </div>
</div>

