<dl class="dl-horizontal">
  <%= form_tag(root_path, method: 'get', html:{class: "form-group"}) do %>
    <dt><%= submit_tag "Go to", class: 'btn pull-right' %></dt>
    <dd><%= text_field_tag :date, @current_date, id: 'datetimepicker', class: "form-control" %></dd>
     
  <% end %>
</dl>
<table class='table table-bordered table-hover'>
  <thead>
    <td><%= @current_date %></td>
    <% @cars.each do |car| %>
      <th><%= link_to car.number, car_path(car) %></th>
    <% end %>
  </thead>
  <tbody id=<%= "#{@current_date.to_date.to_s}" %> >
    <% @users.each do |user| %>
      <tr id=<%= "user_#{user.id}" %> >
        <th><%= link_to user.name, user_path(user) %></td>
        <% @cars.each do |car| %>
          <td id=<%= "car_#{car.id}" %> >
            <% @reservations.find_all{|res| res.car_id == car.id && res.user_id == user.id}.each do |reservation| %>
              <p id=<%= "reservation_#{reservation.id}" %> > <%= reservation.time_period %> </p>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "new_reservation" %>
